body {
  /* background-color: rgb(60, 170, 38); */
  background-image: url('https://lawnsmith.imgix.net/articles/139/weed-grasses-in-lawns.jpg?auto=format');
  color: #3e08ff;
  font-size: 20px;
  margin: auto;
  text-align: center;
  height: 75vh;
  /* font-size: 1.5rem; */
  /* display: grid;
  height: 500px; */
}
.container {
  height: 75%;
  width: 75%;
  /* background-color: red; */
  margin: auto;
}

table {
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
button {
  font-size: 10px;
  font-weight: 900;
  color: rgb(13, 73, 13);
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
}
.cell img {
  width: 25px;
  height: auto;
}
.floor {
  /* background-color: #b4ff9f; */
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWA5bfajbRcaiyqzLrxZ9ZCBXJ0OHZb3oEdscI4JQJmj3eZkXGK16B8EH_WEkB8z0yRq4&usqp=CAU'); */
}
.wall {
  background-image: url('https://previews.123rf.com/images/ningkub/ningkub1802/ningkub180200002/94890973-green-grass-texture-background-it-best-for-creative-wallpaper-and-abstract-.jpg');
  /* background-color: #6ecb63; */
}

.counter {
  /* background-color: #0fdd3c; */
  height: 130px;
  margin: auto;
  font-size: 30px;
  line-height: 2;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.result {
  height: 150px;
  display: flex;
  line-height: 2;
}
.timer {
  /* background-color: #f7ea00; */
  height: 130px;
  margin: auto;
  font-size: 30px;
  line-height: 2;
  color: black;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer {
  margin-top: 50px;
  text-align: center;
}

.footer img {
  height: 50px;
  margin-left: 20px;
}

.footer img:hover {
  height: 70px;
}
p > span {
  color: black;
}
.copyright {
  color: #020202;
  font-size: 30px;
  padding: 10px 0;
  text-align: center;
}
